<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="custom-font" style="text-align: center">{{api.appTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <span style="color: white; padding: 0px 0px 0px 16px">Wish List</span>
    <hr>

    <ion-card class="card-content">
        <ion-card-header>
            <ion-row>
                <ion-col>
                    <ion-title style="color: white ; font-size: 18px">EDM Concert</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-title class="title">June 24, 2019</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-title class="title">3 hrs 10 mins | Music</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-title class="title">Rating 3.8/5</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-title class="title">₹ 0 / Free</ion-title>
                </ion-col>
                <ion-col>
                    <ion-title class="title"  style="text-align: end"> Remove </ion-title>
                </ion-col>

            </ion-row>

        </ion-card-header>
    </ion-card>

</ion-content>
