<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{api.appTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div>
      <div style="padding: 0px 0px 0px 16px;color: white; height: 30px;margin-top: 10px" >Home</div>
      <hr style="border: 1px; background: white">
      <div style="padding: 0px 0px 0px 16px;color: white; height: 30px;margin-top: 10px" >Profile</div>
      <hr style="border: 1px; background: white">
      <div style="padding: 0px 0px 0px 16px;color: white; height: 30px;margin-top: 10px" >Wishlist</div>
      <hr style="border: 1px; background: white">
      <div style="padding: 0px 0px 0px 16px;color: white; height: 30px;margin-top: 10px" >My Bookings</div>
      <hr style="border: 1px; background: white">
      <div style="padding: 0px 0px 0px 16px;color: white; height: 30px;margin-top: 10px" >Settings</div>
      <hr style="border: 1px; background: white">
      <div style="padding: 0px 0px 0px 16px;color: white; height: 30px;margin-top: 10px" >Help and Support</div>
      <hr style="border: 1px; color: white">
      <div style="padding: 0px 0px 0px 16px;color: white; height: 30px;margin-top: 10px" >Sign Out</div>
      <hr style="border: 1px; color: white">
    </div>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>
