// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.custom-font {
  font-family: 'OpenSansCondenser';
}

ion-content{
  flex: 1;
  flex-direction: row;
  --background: url(../src/assets/img/background_gradient.jpg) 0 0/100% 100% no-repeat;
  --background: url(../src/assets/img/background_gradient.jpg) 0 0/100% 100% no-repeat;
}

ion-header{
  --background: url(../src/assets/img/background_gradient.jpg) 0 0/100% 100% no-repeat;
}

