ion-content{
  flex: 1;
  flex-direction: row;
  --background: url(../../assets/img/background_gradient.jpg) 0 0/100% 100% no-repeat;
}

.login-card  {
  flex: 1;
  flex-direction: row;
  margin: 30px;
  margin-top: 70%;
  height: 250px;
  background:#6DD5FA;
  --placeholder-opacity: 1;
  background: transparent;
}

.input-top {
  margin-top: 50px;
}

.btn{
  flex: 1;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.sc-ion-input-md-h {
  color: white;
  opacity: 1;
}

