<ion-content style="background: rebeccapurple">
  <div>
    <ion-card class="login-card">
      <ion-card-content >
        <ion-input class="input-top" placeholder="Enter Email"></ion-input>
        <hr style="border: 1px;background: white">
        <ion-input placeholder="Enter Password"></ion-input>
      </ion-card-content>
      <ion-button class="btn" color="primary" (click)="wishlist()">Primary</ion-button>
    </ion-card>
  </div>
</ion-content>
